# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Local secrets
config.client.json

# Downloads and uploads
/uploads/
/downloads/

# env files
.venv
